<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exibir_modal()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      Lista de Alunos
    </ion-list-header>

    <ion-item *ngFor="let aluno of alunos" href="aluno-detail/{{aluno.nome}}/{{aluno.perfil}}">
      <ion-avatar slot="start">
        <img src="{{aluno.url}}">
      </ion-avatar>
      <ion-label>
        <h2>{{aluno.nome}}</h2>
        <h3>{{aluno.perfil}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-item *ngIf="alunos.length == 0">
    <p>Sem registros!</p>
  </ion-item>

</ion-content>